@font-face {
  font-family: 'MonumentExtended';
  src: url('/public/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body-primary;
  @apply text-body-light;
}

input,
select {
  @apply p-2 border rounded;
  @apply bg-grey;
  @apply text-body-light;
  border-color: #4B5563;
  height: 42px;
}

input:focus,
select:focus {
  @apply border-primary outline-none;
}

h1 {
  font-size: 2rem;
  @apply text-light;
}

h2 {
  @apply font-monument;
  line-height: 27.6px
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #9ca3af; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}